<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>takebilo Gallery</title>
</head>
<body class="gallery">
    <!-- <ul> -->
        {% for photo in photos | reverse %}
        <div  class="flex">
            <a href="{{ photo.file_name }}" target="_blank"><img class="lazyload" data-src="{{ photo.file_name }}" width="700" alt="" border="0"></a>
            <div class="text">
            <br>
            Maker : {{ photo.maker }}
            <br>
            <br>
            Model : {{ photo.model }}
            <br>
            <br>
            Lens : {{ photo.lens }}
            <br>
            <br>
            Focal length : {{ photo.focal_length }} mm
            <br>
            <br>
            F number : {{ photo.fnumber }}
            <br>
            <br>
            ISO : {{ photo.iso }}
            <br>
            <br>
            Exposure time : {{ photo.exposure_time }} s</div>
        </div>
            <!-- <li><img src="{{ image }}" alt="Image"></li> -->
        {% endfor %}
    <!-- </ul> -->
    <script>
        lazyload();
    </script>
</body>
</html>