<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>takebilo Gallery</title>
</head>
<body>
    <h1 class="title">takebilo Gallery</h1>
    <div style="text-align: center;">
        <img src="/static/images/sumnail/DSC01523.JPG" width="50%">
    </div>
    <br>
    <button onclick="location.href='/gallery_list'">Enter the Gallery</button>
    <br>
    <button onclick="location.href='/login'">🔒Login</button>
</body>
</html>
